<section class="eyeorcas-jumbotron">
    <div class="eyeorcas-intro">
        <img src="/img/landing-logo.png" />
        <h2>Cloud Platform for Internet of Things</h2>
    </div>
    <div class="col-md-2 mini-feature mini-feature-rm responsive-phone-hide">
        <i class="fa fa-group"></i>
        <h3>Remote <br /> Management</h3>
    </div>
    <div class="col-md-2 mini-feature mini-feature-smartphone-app responsive-phone-hide">
        <img src="/img/mini-feature-smartphone.png" />
        <h3>Smartphone <br /> Application</h3>
    </div>
    <div class="col-md-2 mini-feature mini-feature-portal responsive-phone-hide">
        <img src="/img/mini-feature-webportal.png" />
        <h3>Web Portal <br /> Access</h3>
    </div>
    <div class="col-md-2 mini-feature mini-feature-gcn responsive-phone-hide">
        <span>GCN / APNS</span>
        <h3>Push <br /> Notifications</h3>
    </div>
    <div class="col-md-2 mini-feature mini-feature-firmware-upgrade responsive-phone-hide">
        <i class="fa fa-wrench"></i>
        <h3>Remote <br /> Firmware Upgrade</h3>
    </div>
    <div class="col-md-2 mini-feature mini-feature-phone responsive-phone-hide">
        <i class="fa fa-phone"></i>
        <h3>VOIP <br /> Integration</h3>
    </div>
</section>
<section class="feature-eyeorcas-engine-init responsive-phone-hide">
    <div class="separator separator-left"></div>
    <div class="separator separator-right"></div>
    <img src="/img/IotDevices.png" />
</section>

<section class="feature feature-eyeorcas-engine">
    <div class="col-md-6 img-holder">
        <img src="/img/feature-eyeorcas-engine.png" />
    </div>
    <div class="col-md-5">
        <h3>eyeOrcas Cloud Platform</h3>
        <p>Consist of an application and a remote access
            server. eyeOrcas platform delivers application
            APIs for remote management, portal and
            smartphone App. Provides remote firmware
            upgrades for connected devices, push notification
            services and VOIP integration. Integrated with
            P2P handshaking and relay functions, connected
            devices can interact with each other directly.
        </p>
    </div>
</section>
<section class="feature feature-smartphone-app">
    <div class="col-md-6 img-holder responsive-phone-show">
        <img src="/img/feature-smartphone-app.png" />
    </div>
    <div class="col-md-offset-1 col-md-5">
        <h3>eyeOrcas Smartphone App</h3>
        <p>Remotely access and control all the connected devices
            from eyeOrcas smartphone App. Dashboard provides
            information of connected devices at one glance with
            configurable widgets. eyeOrcas P2P and relay function
            enables real-time access to up to four connected
            wireless cameras at home from eyeOrcas app. eyeOrcas
            also provides a list of APIs that help developers and
            businesses to customize and develop custom Apps
        </p>
    </div>
    <div class="col-md-6 img-holder responsive-phone-hide">
        <img src="/img/feature-smartphone-app.png" />
    </div>
</section>
<section class="feature feature-push">
    <div class="col-md-6 img-holder">
        <img src="/img/feature-push.png" />
    </div>
    <div class="col-md-5">
        <h3>Push Notifications, SMS, Email Alerts</h3>
        <p>eyeOrcas platform is connected to APNS / GCN to
            deliver push notifications alerts if configured IoT
            devices are triggered. eyeOrcas platform also delivers
            SMS and emails to connected smartphones
        </p>
    </div>
</section>
<section class="feature feature-rm">
    <div class="col-md-6 img-holder responsive-phone-show">
        <img src="/img/feature-rm.png" />
    </div>
    <div class="col-md-offset-1 col-md-5">
        <h3>Remote Management</h3>
        <p>
            Remotely troubleshoot and configure client’s
            connected devices and user accounts with
            remote management. Developer tools provide
            a list of remote management APIs for
            customization and integration.
        </p>
        <div class="feature-control">
            <a href="http://admin.eyeorcas.com" class="btn btn-primary btn-lg">Launch Remote Management</a>
        </div>
    </div>
    <div class="col-md-6 img-holder responsive-phone-hide">
        <img src="/img/feature-rm.png" />
    </div>
</section>
<section class="feature feature-portal">
    <div class="col-md-6 img-holder">
        <img src="/img/feature-portal.png" />
    </div>
    <div class="col-md-5">
        <h3>eyeOrcas Portal</h3>
        <p>
            Remotely access your connected devices on eyeOrcas
            from any web browsers. View captured images and
            videos from surveillance cameras. Get more insights
            on your eyeOrcas profile such as storage and usage.
            Check out developer tools for using eyeOrcas web
            portal API for integration and customization.
        </p>
        <div class="feature-control">
            <a href="http://www.eyeorcas.com/P2P/account/login" class="btn btn-primary btn-lg">Log in to eyeOrcas Portal</a>
        </div>
    </div>
</section>
<section class="feature-overview responsive-phone-hide">
        <img src="/img/eyeorcas-overview.png" />
</section>
<section class="feature-overview responsive-phone-show">
        <img src="/img/eyeorcas-overview-xs.png" />
</section>

<section class="eyeorcas-products-title">
    <img src="/img/eyeorcas-logo-lg.png" />
    <h2>Products</h2>
</section>
<section class="solution-introduction">
    <i class="fa fa-suitcase"></i>
    <br />
    <h2>For Office</h2>
</section>
<section class="solution-details">
    <img src="/img/eyex-landing.png" />
    <h2>eyeX Solution</h2>
    <p>One-stop solution for office door access, communication, surveillance and security</p>
    <div class="solution-controls">
        <a href="http://home.astralink.com.sg/ecosystem/eyexsolution" class="btn btn-primary btn-lg">Starter Kit Available</a>
    </div>
</section>
<section class="solution-introduction">
    <i class="fa fa-home"></i>
    <br />
    <h2>For Home</h2>
</section>
<section class="solution-details">
    <img src="/img/lifebox-landing.png" />
    <h2>LifeBox!</h2>
    <p>One-stop Solution for Home Surveillance and Security</p>
    <div class="solution-controls">
        <a href="http://home.astralink.com.sg/ecosystem/lifebox" class="btn btn-primary btn-lg">Starter Kit Available</a>
    </div>
</section>
<section class="solution-introduction">
    <i class="fa fa-plus-square"></i>
    <br />
    <h2>For The Independent Living</h2>
</section>
<section class="solution-details">
    <img src="/img/independent-living-landing.png" />
    <h2>LifeCare</h2>
    <p>A Smart Non-intrusive Monitoring and Alerting Solution for Independent Living</p>
    <div class="solution-controls">
        <a href="http://home.astralink.com.sg/ecosystem/lifecare" class="btn btn-primary btn-lg">Starter Kit Available</a>
        <a href="http://lifecare.eyeorcas.com" class="btn btn-primary btn-lg btn-eyeorcas-lifecare">eyeOrcas Lifecare</a>
    </div>
</section>