<section class="jumbotron" id="lifecare">
    <h1>Activity Based, Non-Intrusive</h1>
    <h2>data analytics for personalized profiling of the elderly</h2>

    <div class="brief-intro">
        <div class="brief-desc-panel">
            <div class="brief-desc"><img src="/img/lifecare-landing-detect.png" /></div>
            <p>Installed sensors detects activity</p>
        </div>
        <div class="brief-desc-proceed-panel">
            <div class="brief-desc-proceed"><img src="/img/lifecare-landing-arrow.png" /></div>
        </div>
        <div class="brief-desc-panel">
            <div class="brief-desc"><img src="/img/lifecare-landing-collect.png" /></div>
            <p>Activity data are collected and mined</p>
        </div>
        <div class="brief-desc-proceed-panel">
            <div class="brief-desc-proceed"><img src="/img/lifecare-landing-arrow.png" /></div>
        </div>
        <div class="brief-desc-panel">
            <div class="brief-desc"><img src="/img/lifecare-landing-analyze.png" /></div>
            <p>Activity Data are analyzed and learned for prediction and profiling</p>
        </div>
        <div class="brief-desc-proceed-panel">
            <div class="brief-desc-proceed"><img src="/img/lifecare-landing-arrow.png" /></div>
        </div>
        <div class="brief-desc-panel">
            <div class="brief-desc"><img src="/img/lifecare-landing-alert.png" /></div>
            <p>Alert notification are sent to loved ones should abnormalities are detected</p>
        </div>
    </div>
</section>

<section class="col-md-12 key-features" id="behavior-analysis">
    <h2>Behavioural analysis and smart alerting system</h2>
    <p>Analysis of elderly activities are categorized into default time frames. Thresholds are set automatically or user configurable to give
        users alert notifications should abnormalities are detected.</p>
    <div class="col-md-6">
        <div id="layeredChart"></div>
    </div>
    <div class="col-md-6">
        <div id="donutChart"></div>
    </div>
</section>
<section class="col-md-12 key-features key-features-alt" id="machine-learning">
    <h2>Machine Learning</h2>
    <p>Daily data collected are processed by smart analytical algorithms for effective behaviour and pattern profiling. These daily analysis
        contributes to machine learning for improved prediction accuracy.</p>
    <div>
        <h3><img src="/img/morning-icon-sm.png" class="time-zone-icon" /> All Mornings</h3>
        <div id="morningChart"></div>
    </div>
    <div>
        <h3><img src="/img/noon-icon-sm.png"  class="time-zone-icon" /> All Noons</h3>
        <div id="noonChart"></div>
    </div>
</section>