//Defining the variables
$color-layout-background-muted: #f0f0f0;
$color-layout-background: #f6f6f6;
$color-footer-cp-credits-background: #efefef;

$color-history-1997: #f4f6d6;
$color-history-2002:#e6eebb;
$color-history-2012: #dbe493;
$color-history-present: #d3db6b;

$color-muted-light: #eeeeee;
$color-muted-mid: #bbbbbb;
$color-muted-dark: #777777;
$color-muted-intense: #555555;

$color-muted-cloud: #edf7f9;

$color-text-reversed: #ffffff;
$color-text: #222;

$color-brand-dark-green: #463e16;
$color-brand-light-green: #b0b942;
$color-brand-fade-green: #d3db6b;

$color-status-ok: #b0b942;
$color-status-alert: #ac1e23;

$color-brand-fade-blue: #77cdd4;
$color-brand-light-blue: #5fbdce;
$color-brand-blue: #2a9494;
$color-brand-dark-blue: #0e6466;
$color-brand-darkest-blue: #0e4647;

$color-brand-fade-yellow: #fcf7f2;
$color-brand-highlight-yellow: #faf9d8;
$color-brand-light-yellow: #ff9a40;
$color-brand-yellow: #ff7800;
$color-brand-dark-yellow: #bf7330;
$color-brand-darkest-yellow: #a64e00;

$color-brand-bathroom: #77cdd4;
$color-brand-livingroom: #0e4647;
$color-brand-kitchen: #2a9494;
$color-brand-bedroom: #0e6466;

$text-size-base : 14;
$font-text-default : "Roboto";